Repository ikigaikintore/ikigaikintore, changes with the labels that .github/labeler.yaml gives for each.
All labels: backend, frontend, infra, docs, schema

fix ci workdir
  .github/workflows/terraform_apply.yaml
Labels: none

comment
  infra/main.tf
Labels: infra

name
  infra/main.tf
Labels: infra

fix reviewers
  .github/auto_assign.yml
Labels: none

assignees
  .github/auto_assign.yml
Labels: none

delete network
  infra/main.tf
Labels: infra

sync labels
  .github/workflows/_sync_labels.yaml
Labels: none

fix ci
  .github/auto_assign.yml
  .github/workflows/terraform_plan.yaml
Labels: none

assign and codeowners
  .github/CODEOWNERS
  .github/workflows/terraform_plan.yaml
Labels: none

fix version
  .github/workflows/terraform_plan.yaml
Labels: none

permissions
  .github/workflows/terraform_plan.yaml
Labels: none

fix
  .github/workflows/terraform_plan.yaml
Labels: none

add ci
  .github/workflows/backend_ci.yaml
  backend/Makefile
Labels: backend

refactor ci
  .github/workflows/backend_ci.yaml
  .github/workflows/setup.yaml
  .github/workflows/terraform_plan.yaml
Labels: none

init tag releaser
  .github/workflows/releaser.yaml
Labels: none

filter
  .github/workflows/backend_ci.yaml
Labels: none

set condition
  .github/workflows/backend_ci.yaml
Labels: none

better filter
  .github/workflows/backend_ci.yaml
Labels: none

docs deploy
  docs/architecture.md
Labels: docs

docker and deploy steps
  .github/workflows/releaser.yaml
  backend/.dockerignore
  backend/Dockerfile
  backend/Makefile
Labels: backend

check
  .github/workflows/releaser.yaml
Labels: none

test workflow
  .github/workflows/releaser.yaml
Labels: none

test workflow
  .github/workflows/releaser.yaml
Labels: none

test workflow
  .github/workflows/releaser.yaml
Labels: none

test workflow
  .github/workflows/releaser.yaml
Labels: none

test workflow
  .github/workflows/releaser.yaml
Labels: none

test workflow
  .github/workflows/releaser.yaml
Labels: none

test workflow
  .github/workflows/releaser.yaml
Labels: none

test workflow
  .github/workflows/releaser.yaml
Labels: none

test workflow
  .github/workflows/releaser.yaml
Labels: none

workflow
  .github/workflows/releaser.yaml
Labels: none

ci rename
  .github/auto_assign.yml
  .github/renovate.json5
  .github/workflows/_backend_ci.yaml
  .github/workflows/_setup.yaml
  .github/workflows/_terraform_apply.yaml
  .github/workflows/_terraform_plan.yaml
Labels: none

add rollback and build docker
  .github/workflows/releaser.yaml
Labels: none

.github/labeler.yaml:

backend:
  - backend/**
frontend:
  - frontend/**
infra:
  - infra/**
docs:
  - docs/**
schema:
  - schema/**
  - backend/internal/output/weather/swagger.v1.yaml
