Repository ikigaikintore/ikigaikintore, changes with the labels that .github/labeler.yaml gives for each.
All labels: backend, frontend, infra, docs, schema, ci, proxy, proxybot

.github/labeler.yaml:

'backend':
- changed-files:
  - any-glob-to-any-file: 'backend/**'

'frontend':
  - changed-files:
    - any-glob-to-any-file: 'frontend/**'

'infra':
  - changed-files:
    - any-glob-to-any-file: 'infra/**'

'docs':
  - changed-files:
    - any-glob-to-any-file: 'docs/**'

'schema':
  - changed-files:
    - any-glob-to-any-file: ['schema/**', 'backend/internal/output/weather/swagger.v1.yaml']

'ci':
  - changed-files:
    - any-glob-to-any-file: '.github/**'

'proxy':
  - changed-files:
    - any-glob-to-any-file: 'proxy/**'

'proxybot':
  - changed-files:
    - any-glob-to-any-file: 'proxybot/**'

update go sum
  backend/go.sum
Labels: backend

connect telegram proxy with backend
  .github/workflows/releaser_telegram_proxy.yaml
  Tiltfile
  backend/Dockerfile
  backend/cmd/server/main.go
  backend/go.mod
  backend/go.sum
  docker-compose.yaml
  proxybot/.dockerignore
  proxybot/Dockerfile
  proxybot/Makefile
  proxybot/cmd/server/main.go
  proxybot/config/app.go
  proxybot/go.mod
  proxybot/go.sum
  proxybot/pkg/bot/commands.go
  proxybot/pkg/service/endpoints.v1.pb.go
  proxybot/pkg/service/endpoints.v1_grpc.pb.go
Labels: backend, ci, proxybot

makefile and update sum
  proxybot/Makefile
  proxybot/go.sum
Labels: proxybot

connect telegram proxy with backend (#198)
  .github/workflows/releaser_telegram_proxy.yaml
  Tiltfile
  backend/Dockerfile
  backend/cmd/server/main.go
  backend/go.mod
  backend/go.sum
  docker-compose.yaml
  proxybot/.dockerignore
  proxybot/Dockerfile
  proxybot/Makefile
  proxybot/cmd/server/main.go
  proxybot/config/app.go
  proxybot/go.mod
  proxybot/go.sum
  proxybot/pkg/bot/commands.go
  proxybot/pkg/service/endpoints.v1.pb.go
  proxybot/pkg/service/endpoints.v1_grpc.pb.go
Labels: backend, ci, proxybot

fix srv init
  backend/cmd/server/main.go
Labels: backend

fix envs
  .github/workflows/releaser_telegram_proxy.yaml
Labels: ci

refactor and fix secrets
  .github/workflows/releaser_telegram_proxy.yaml
  infra/telegram.tf
Labels: infra, ci

refactor and fix secrets (#200)
  .github/workflows/releaser_telegram_proxy.yaml
  infra/telegram.tf
Labels: infra, ci

fix telegram webhook
  Tiltfile
  docker-compose.yaml
  proxybot/.dockerignore
  proxybot/Dockerfile
  proxybot/cmd/server/main.go
  proxybot/config/app.go
  proxybot/go.mod
  proxybot/go.sum
Labels: proxybot

fix telegram webhook (#202)
  Tiltfile
  docker-compose.yaml
  proxybot/.dockerignore
  proxybot/Dockerfile
  proxybot/cmd/server/main.go
  proxybot/config/app.go
  proxybot/go.mod
  proxybot/go.sum
Labels: proxybot

set listener
  proxybot/cmd/server/main.go
Labels: proxybot

fix env
  .github/workflows/releaser_telegram_proxy.yaml
Labels: ci

add target
  .github/workflows/releaser_telegram_proxy.yaml
Labels: ci

add port
  proxybot/cmd/server/main.go
Labels: proxybot

fix add port
  proxybot/cmd/server/main.go
Labels: proxybot

feat: add interceptor for auth
  proxybot/cmd/server/main.go
  proxybot/go.mod
  proxybot/go.sum
Labels: proxybot

feat: add interceptor for auth (#204)
  proxybot/cmd/server/main.go
  proxybot/go.mod
  proxybot/go.sum
Labels: proxybot

set audience with target
  proxybot/cmd/server/main.go
Labels: proxybot

set audience with target (#205)
  proxybot/cmd/server/main.go
Labels: proxybot

fix endpoint target
  .github/workflows/releaser_telegram_proxy.yaml
Labels: ci

delete more than 5 images
  .github/workflows/releaser_telegram_proxy.yaml
Labels: ci

fix endpoint
  .github/workflows/releaser_telegram_proxy.yaml
Labels: ci

goimports
  backend/cmd/server/main.go
Labels: backend

refactor proxy
  Tiltfile
  docker-compose.yaml
  proxybot/cmd/server/main.go
  proxybot/pkg/bot/commands.go
  proxybot/pkg/bot/server.go
  proxybot/pkg/bot/todayweather_command.go
  proxybot/pkg/service/interceptor.go
  proxybot/pkg/service/panelclient.go
Labels: proxybot

fix imports
  proxybot/cmd/server/main.go
  proxybot/pkg/bot/todayweather_command.go
Labels: proxybot

wip
  Tiltfile
  docker-compose.yaml
  proxybot/cmd/server/main.go
Labels: proxybot

delete unused package
  proxybot/cmd/server/main.go
  proxybot/pkg/bot/todayweather_command.go
  proxybot/pkg/domain/weather.go
Labels: proxybot

Refactor (#209)
  Tiltfile
  backend/cmd/server/main.go
  proxybot/cmd/server/main.go
  proxybot/pkg/bot/commands.go
  proxybot/pkg/bot/server.go
  proxybot/pkg/bot/todayweather_command.go
  proxybot/pkg/domain/weather.go
  proxybot/pkg/service/interceptor.go
  proxybot/pkg/service/panelclient.go
Labels: backend, proxybot

fix frontend workflow
  .github/workflows/releaser_frontend.yaml
Labels: ci

add 3hour forecast
  backend/internal/output/weather/client.go
  proxybot/cmd/server/main.go
  proxybot/pkg/bot/todayweather_command.go
  proxybot/pkg/domain/weather.go
Labels: backend, proxybot

add 3hour forecast (#225)
  backend/internal/output/weather/client.go
  proxybot/cmd/server/main.go
  proxybot/pkg/bot/todayweather_command.go
  proxybot/pkg/domain/weather.go
Labels: backend, proxybot

wip
  proxybot/pkg/bot/todayweather_command.go
Labels: proxybot

commands weather
  Tiltfile
  docker-compose.yaml
  proxybot/cmd/server/main.go
  proxybot/pkg/bot/commands.go
  proxybot/pkg/bot/todayweather_command.go
Labels: proxybot

geolocation and use cache
  backend/go.mod
  backend/go.sum
  backend/internal/input/common/handler.go
  backend/internal/input/grpc/endpoint.go
  backend/internal/input/grpc/server.go
  backend/internal/input/twirp/server.go
  backend/internal/output/weather/client.go
  backend/pkg/domain/weather.go
  backend/pkg/proto/endpoints.v1.pb.go
  backend/pkg/proto/endpoints.v1.twirp.go
  backend/pkg/usecase/weather.go
  docker-compose.yaml
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/endpoints.v1.pb.ts
  frontend/src/cards/weather/index.tsx
  frontend/src/cards/weather/use-weather.ts
  proxy/cmd/server/main.go
  proxybot/cmd/server/main.go
  proxybot/go.sum
  proxybot/pkg/bot/todayweather_command.go
  proxybot/pkg/domain/weather.go
  proxybot/pkg/service/proto/endpoints.v1.pb.go
  proxybot/pkg/service/proto/endpoints.v1_grpc.pb.go
  proxybot/pkg/storage/cache.go
  proxybot/pkg/storage/cache_test.go
  schema/Makefile
  schema/endpoints.v1.proto
Labels: backend, frontend, schema, proxy, proxybot

fix panic on proxy cache
  proxybot/cmd/server/main.go
  proxybot/pkg/bot/todayweather_command.go
  proxybot/pkg/storage/cache.go
Labels: proxybot

fix tests cache
  proxybot/pkg/storage/cache_test.go
Labels: proxybot

fix want result test
  proxybot/pkg/storage/cache_test.go
Labels: proxybot

fix: test returns empty
  proxybot/pkg/storage/cache_test.go
Labels: proxybot

Feat location (#254)
  Tiltfile
  backend/go.mod
  backend/go.sum
  backend/internal/input/common/handler.go
  backend/internal/input/grpc/endpoint.go
  backend/internal/input/grpc/server.go
  backend/internal/input/twirp/server.go
  backend/internal/output/weather/client.go
  backend/pkg/domain/weather.go
  backend/pkg/proto/endpoints.v1.pb.go
  backend/pkg/proto/endpoints.v1.twirp.go
  backend/pkg/usecase/weather.go
  docker-compose.yaml
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/endpoints.v1.pb.ts
  frontend/src/cards/weather/index.tsx
  frontend/src/cards/weather/use-weather.ts
  proxy/cmd/server/main.go
  proxybot/cmd/server/main.go
  proxybot/go.sum
  proxybot/pkg/bot/commands.go
  proxybot/pkg/bot/todayweather_command.go
  proxybot/pkg/domain/weather.go
  proxybot/pkg/service/proto/endpoints.v1.pb.go
  proxybot/pkg/service/proto/endpoints.v1_grpc.pb.go
  proxybot/pkg/storage/cache.go
  proxybot/pkg/storage/cache_test.go
  schema/Makefile
  schema/endpoints.v1.proto
Labels: backend, frontend, schema, proxy, proxybot

update dependencies
  backend/go.mod
  backend/go.sum
  proxy/go.mod
  proxy/go.sum
  proxybot/go.mod
  proxybot/go.sum
Labels: backend, proxy, proxybot
