Repository ikigaikintore/ikigaikintore, changes with the labels that .github/labeler.yaml gives for each.
All labels: backend, frontend, infra, docs, schema, ci, proxy, proxybot

update dependencies (#256)
  backend/go.mod
  backend/go.sum
  proxy/go.mod
  proxy/go.sum
  proxybot/go.mod
  proxybot/go.sum
Labels: backend, proxy, proxybot

update dependencies in frontend
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/firebase.json
  frontend/package-lock.json
  frontend/src/auth/config.ts
  frontend/src/auth/firebase.ts
  frontend/src/auth/index.tsx
  frontend/src/auth/init.ts
  frontend/src/auth/use-auth.ts
  frontend/src/config/use-config.ts
  frontend/src/next.config.js
Labels: frontend

update dependencies in frontend (#257)
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/firebase.json
  frontend/package-lock.json
  frontend/src/auth/config.ts
  frontend/src/auth/firebase.ts
  frontend/src/auth/index.tsx
  frontend/src/auth/init.ts
  frontend/src/auth/use-auth.ts
  frontend/src/config/use-config.ts
  frontend/src/next.config.js
Labels: frontend

move file
  frontend/next.config.js
Labels: frontend

add eslint check
  .github/workflows/_frontend_ci.yaml
Labels: ci

add merge group
  .github/workflows/_frontend_ci.yaml
Labels: ci

debug
  .github/workflows/_frontend_ci.yaml
Labels: ci

delete debug
  .github/workflows/_frontend_ci.yaml
Labels: ci

move file (#258)
  .github/workflows/_frontend_ci.yaml
  frontend/next.config.js
Labels: frontend, ci

delete debug
  .github/workflows/_frontend_ci.yaml
Labels: ci

fix run build
  frontend/package.json
Labels: frontend

debug
  .github/workflows/_frontend_ci.yaml
Labels: ci

Fix frontend (#259)
  frontend/package.json
Labels: frontend

enable eventarc
  infra/ikigai_frontend.tf
Labels: infra

enable eventarc (#260)
  infra/ikigai_frontend.tf
Labels: infra

add admin functions
  infra/iam.tf
Labels: infra

add admin functions (#261)
  infra/iam.tf
Labels: infra

add auth
  .github/workflows/releaser_frontend.yaml
Labels: ci

not use auth and fix path
  .github/workflows/releaser_frontend.yaml
  frontend/firebaseFunctions.js
Labels: frontend, ci

not use auth and fix path (#262)
  .github/workflows/releaser_frontend.yaml
  frontend/firebaseFunctions.js
Labels: frontend, ci

permission
  infra/iam.tf
Labels: infra

permission (#263)
  infra/iam.tf
Labels: infra

feat: Enable gmail api
  infra/ikigai_backend.tf
Labels: infra

feat: Enable gmail api (#332)
  infra/ikigai_backend.tf
Labels: infra

feat: endpoint definition and doc
  docs/endpoints.md
  schema/endpoints.v1.proto
Labels: docs, schema

fix: syntax error
  schema/endpoints.v1.proto
Labels: schema

feat: Add methods
  schema/endpoints.v1.proto
Labels: schema

feat: Add new endpoints
  backend/internal/input/grpc/endpoints.v1.pb.go
  backend/internal/input/grpc/endpoints.v1.twirp.go
  backend/internal/input/grpc/endpoints.v1_grpc.pb.go
  backend/pkg/proto/endpoints.v1.pb.go
  backend/pkg/proto/endpoints.v1_grpc.pb.go
  frontend/src/api/endpoints.v1.pb.ts
  schema/Makefile
  schema/endpoints.v1.proto
Labels: backend, frontend, schema

renovate
  .github/renovate.json5
Labels: ci

.github/labeler.yaml:

'backend':
- changed-files:
  - any-glob-to-any-file: 'backend/**'

'frontend':
  - changed-files:
    - any-glob-to-any-file: 'frontend/**'

'infra':
  - changed-files:
    - any-glob-to-any-file: 'infra/**'

'docs':
  - changed-files:
    - any-glob-to-any-file: 'docs/**'

'schema':
  - changed-files:
    - any-glob-to-any-file: ['schema/**', 'backend/internal/output/weather/swagger.v1.yaml']

'ci':
  - changed-files:
    - any-glob-to-any-file: '.github/**'

'proxy':
  - changed-files:
    - any-glob-to-any-file: 'proxy/**'

'proxybot':
  - changed-files:
    - any-glob-to-any-file: 'proxybot/**'
